a {
    cursor: pointer;
}

nav .nav-right-section .menu-icon,
nav .nav-right-section .menu-img {
    width: 3.5rem;
    height: 3.5rem;
}
main {
    height: 80vh;    
}

main .main-logo {
    width: 60rem;
    height: 25rem;
}
main .main-input-container {
    width: 65rem;    
}
main .main-input-container:hover {
    box-shadow: 0 0.1rem 0.6rem 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input {
    width: 60rem;
    height: 4rem;
    font-size: 2rem;   
}

main .main-input input {
    width: 55rem;
    height: 5.5rem;
}

main .main-input .search-icon,
main .main-input .micro-icon {
    width: 1.8rem;
    height: 1.8rem;
}
main .main-buttons {
    width: 40rem; 
}

main .main-buttons button{
    height: 3.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}
footer {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}