body {
    font-size: 1.6rem;
}
nav .nav-right-section .menu-icon,
nav .nav-right-section .menu-img {
    width: 2.6rem;
    height: 2.6rem;
}

main .main-logo {
    width: 35rem;
    height: 15rem;
}
main .main-input-container {
    width: 40rem;    
}
main .main-input {
    width: 35rem;    
}

main .main-input input {
    width: 30rem;
    height: 3.5rem;
    font-size: 1.4rem;
}

main .main-input .search-icon,
main .main-input .micro-icon {
    width: 1.5rem;
    height: 1.5rem;
}
main .main-buttons {
    width: 20rem;
    display: inline-block;
    flex-direction: row;
}
main .main-buttons button{
    height: 3.3rem;
    font-size: 1.5rem;
}

